In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.10f}'.format)
pd.set_option('display.float_format', lambda x: ('%f' % x).rstrip('0').rstrip('.'))

In [11]:
df = pd.read_csv('sales_data.csv')

In [12]:
df

,Order ID,Sale ID,Date,Order,Transaction type,Sale type,Sales channel,POS location,Billing country,Billing region,Billing city,Shipping country,Shipping region,Shipping city,Product type,Product vendor,Product,Variant,Variant SKU,Net quantity,Gross sales,Discounts,Returns,Net sales,Shipping,Taxes,Total sales
0,5539800000000,17401000000000,2024-01-01T14:06:18-05:00,#2069,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brown jeans,NaN,NaN,1,5,0,0,5,0,0.3,5.3
1,5539800000000,17401000000000,2024-01-01T14:08:17-05:00,#2070,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Black n white body suit,NaN,NaN,1,5,0,0,5,0,0.3,5.3
2,5539800000000,17401000000000,2024-01-01T14:08:17-05:00,#2070,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Black halter body suit,NaN,NaN,1,5,0,0,5,0,0.3,5.3
3,5539970000000,17401500000000,2024-01-01T16:50:20-05:00,#2071,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sequence dress brown white tan,NaN,NaN,1,9,0,0,9,0,0.54,9.54
4,5539970000000,17401500000000,2024-01-01T16:50:20-05:00,#2071,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blue wool dress with belt,NaN,NaN,1,9,0,0,9,0,0.54,9.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,5897370000000,18448600000000,2024-08-01T15:10:12-04:00,#2294,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,dresses,Inspired Fashion 40,Blazer Mini Dress,Large,42,1,48.99,-9.79,0,39.2,0,2.35,41.55
394,5898760000000,18452800000000,2024-08-02T14:11:40-04:00,#2295,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,2 Piece Set,Inspired Fashion 40,Catching Looks Pant Suit,Small,PR364,1,83.25,-16.65,0,66.6,0,4,70.6
395,5900190000000,18457000000000,2024-08-03T14:25:26-04:00,#2296,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kamala T shirt,NaN,NaN,1,25,-5,0,20,0,1.2,21.2
396,5900340000000,18457400000000,2024-08-03T16:01:45-04:00,#2297,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Final lay away payment,NaN,NaN,1,66,0,0,66,0,3.96,69.96
397,5909400000000,18504900000000,2024-08-10T11:56:48-04:00,#2298,product,order,Point of Sale,Boutique Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R&J jewlery,NaN,NaN,1,15,0,0,15,0,0.9,15.9

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          398 non-null    float64
 1   Sale ID           398 non-null    float64
 2   Date              398 non-null    object
 3   Order             398 non-null    object
 4   Transaction type  398 non-null    object
 5   Sale type         398 non-null    object
 6   Sales channel     398 non-null    object
 7   POS location      371 non-null    object
 8   Billing country   28 non-null     object
 9   Billing region    28 non-null     object
 10  Billing city      28 non-null     object
 11  Shipping country  18 non-null     object
 12  Shipping region   18 non-null     object
 13  Shipping city     18 non-null     object
 14  Product type      105 non-null    object
 15  Product vendor    134 non-null    object
 16  Product           390 non-null    object
 17  Variant           107 non-null    object
 18  Variant SKU       104 non-null    object
 19  Net quantity      398 non-null    int64
 20  Gross sales       398 non-null    float64
 21  Discounts         398 non-null    float64
 22  Returns           398 non-null    float64
 23  Net sales         398 non-null    float64
 24  Shipping          398 non-null    float64
 25  Taxes             398 non-null    float64
 26  Total sales       398 non-null    float64
dtypes: float64(9), int64(1), object(17)
memory usage: 84.1+ KB

In [21]:
for col in df.columns:
    if df[col].dtype == 'object' and col != 'Date' and col != 'Order':
        print(f'Unique values for {col}: {df[col].unique()}')

Unique values for Transaction type: ['product' 'shipping' 'unknown' 'gift_card']
Unique values for Sale type: ['order' 'return']
Unique values for Sales channel: ['Point of Sale' 'Online Store' 'Shop']
Unique values for POS location: ['Boutique Site' nan]
Unique values for Billing country: [nan 'United States' 'Canada']
Unique values for Billing region: [nan 'Ohio' 'Arkansas' 'Kentucky' 'North Carolina' 'Ontario' 'Alabama']
Unique values for Billing city: [nan 'Cincinnati' 'Bryant' 'Covington' 'Independence' 'Union' 'Lexington'
 'Florence' 'Blue Ash' 'Ft. Mitchell' 'Crestview Hills' 'Charlotte'
 'Fairfield' 'Toronto' 'Daphne']
Unique values for Shipping country: [nan 'United States' 'Canada']
Unique values for Shipping region: [nan 'Ohio' 'Arkansas' 'North Carolina' 'Ontario' 'Alabama']
Unique values for Shipping city: [nan 'Blue Ash' 'Bryant' 'Charlotte' 'Toronto' 'Daphne']
Unique values for Product type: [nan 'sale' 'Athletics' '2 Piece Set' 'dresses' 'Accessories' 'Earrings'
 'blazers' 'Apparel & Accessories' 'Pants' 'Shirts & Tops' 'Jumpsuit'
 'Dress' 'Dresses' 'Bracelet' 'Coats & Jackets' 'Sale'
 'Jumpsuits & Rompers' 'Shorts' 'Skirt Suits' 'Gift Card' 'Shirt']
Unique values for Product vendor: [nan 'Inspired Fashion 40' 'Mulla' 'Melrose with Love' 'Evenuel'
 'Sans Souci' 'FLYING TOMATO' 'The Moment Collection' 'INA' 'Doohickies'
 'Ariel USA' 'Strut & Bolt' 'Trendsi']
Unique values for Product: ['Brown jeans' 'Black n white body suit' 'Black halter body suit'
 'Sequence dress brown white tan' 'Blue wool dress with belt' 'Bodysuit'
 'Pants' 'Red Dress' 'Black dress' 'Tan jeans' 'Green shirt dress'
 'Black Romper Shorts' 'Blue feather dress' 'Black rose pearl choker'
 'Checkered scarf' 'Multi layered tiered dress' 'Grey Hat'
 'Blush Floral Dress - Yolanda' 'Blue Jean Dress - Yolanda'
 'Thigh High Stockings - Yolanda' 'Pearl Gold Necklace - Yolanda'
 'Blue Dress - Yolanda' 'Vera Gold Bracelet - Yolanda'
 'Grey Hat - Yolanda' 'Teal Dress - Yolanda' 'Black Dress - Yolanda'
 'Black 2 piece Dress - Yolanda' 'White Floral Pin - Yolanda'
 'Candy color pant jumpsuit' 'Blue yoga' 'Black white dress'
 'Black stretch pants' 'Brown charm bracelet' 'Orange jump suit'
 'Blue lace dress' 'Pink yellow shirt' 'Brown sweater dress' 'Brown pants'
 'Black body suit' '4 Pieces for $24 Mystery Box - Inspired Box' nan
 'Sale' 'SALE' 'White top pant jogging suit' 'Yellow dress 1X long sleeve'
 'Lace top/blue greenish' 'Blue jeans' 'Pink flower lace dress'
 'Red white black dress' 'Blue/green set' 'Yellow dress lace'
 'Maroon top bottom stretch' 'Leaf spaghetti strap autumn color'
 'Blue stretch pants' 'Zebra brown black white jumpsuit'
 'White top pant suit' 'Brown popcorn style flare top' 'Silver pants'
 'Blue mesh stretch dress' 'Pink earrings' 'Pink and green earrings'
 'Scarf' 'Bow pin' 'Paisley Pant Set - Curvy' 'Pink skirt'
 'Black Satin Silk Dress - Curvy' 'Bracelet' 'Flower Belt' 'Pink coat'
 'Green earrings' 'Gray bracelet' 'Black pearl shirt  L' 'Gloves'
 'Cream faux leather' 'Cream faux leather shirt m' 'Blue pearl shirt xl'
 'Pink skirt xl' 'Pearl shirt' 'Puffy Sleeve Shift Dress'
 'BLACK ORGANZA FLOWER BROOCH Accessory' 'Blue blazer skirt set'
 'Black dress off shoulder flare sleeve' 'Black pearl shirt xl'
 'Blue pearl shirt m' 'Black pearl shirt s' 'Cream Flower Tassel Earrings'
 'Blue green white dress' 'Blue sweater top' 'Silver r&j necklace'
 'Pink lace dress' 'White rose choker' 'Blue denim white'
 'Orange body suit' 'Brownpearl skirt' 'Green romper'
 'Pink white yellow blouse w/ metal ring on neck' 'Black white jump suit'
 'Blue/ cheeta print sheen jump suit' 'Grey jump suit' 'Red leopard dress'
 'Candy stripped jump suit' 'Blue/grey striped romper'
 'Pink redy yellow skirt with top' 'Floral style top'
 'Blue jeans with cuff' 'Green/olive romper'
 'Green pant suit with top green/gold' 'Pink romper with train'
 'White jumper' 'Blue wool zip up dress' 'Grey white stripped roma'
 'Green/gold pant suit' 'Orange dress' 'Black business romper'
 'Black puffy sleeve dress' 'Black leather pants' 'Pink top'
 'Red turtle neck' 'FUNNY COWGIRL BARBIE - Hot Pink Blazer' 'Red necklace'
 'Long Pearl Earrings' 'Fashion Rings' 'Red earrings'
 'MOCK NECK FITTED MIDI DRESS' 'Vegan Leather Peplum Top in Hunter Green'
 'Mardi Gras Pants' 'Brown Puffy Sleeve Shirt' 'Cuffed Jeans'
 'Mine Your Business Earrings' 'Gold earrings' 'Red jumpsuir'
 'Red Fascinator' 'Cuff jeans' 'Red pants with wide leg string'
 'Red Velvet Gloves' 'Tan bracelet' 'White pant suit' 'Pink swirl jeans'
 'Blue jeans with belt' 'Satin Wide Leg Pants' 'White rose choker/belt'
 'Red flower skirt with top' 'White tube dress' 'Candy stripped jumper'
 'Cheerleader key ring' 'Orange belly shirt'
 'Red/pink dress with mid section peekaboo' 'Blue/teal bodysuit jumper'
 'Black white diamon design dress' 'Shorts jeans' 'Jean shorts'
 'Pink white star design body suit' 'Brown braclet' 'Lipstick'
 'Flower Bracelet' 'RnJ bracelet' 'Multi-color Earrings'
 'Gold purse earrings' 'Black Ruffle Jacket' 'Red Bow Tie Shirt'
 'Mustard Silk Dress' 'Tulle Halter Top' 'Silver bracelet'
 'A faux leather shirt' 'White Cape Jacket'
 "Woman To Woman  - Let's Get Heated! Event (PRESALE TICKETS LIMITED TIME"
 'Bodycon dress' 'Effervescence Earrings' 'Teal blue body suit'
 'Pink bedazzle body suit' 'Pink white body suit' 'Black jumpsuit'
 'Blue crop top' 'Jeweled earring' 'Dress set' 'Black bodysuit'
 'Black shimmer body suit' 'Earrings jeweled' 'Pink mesh dress large'
 'Necklace square swirl design RnJ'
 "Woman To Woman  - Let's Get Heated! Event" 'Black tulle dress'
 "Woman To Woman  - Let's Get Heated! VIP EXPERIENCE" 'Moschino hoodie XL'
 'White belt' 'Woman to Woman Sponsorship'
 'Pearl Round Neck Puff Sleeve Ribbed Top' 'Blazer Mini Dress'
 '2 Piece Baroque Style Dress Set' 'Red Ball Earrings'
 'Brown Puffy Shirt Large' 'Chain link necklace with earrings' 'Lip Gloss'
 'Woman to Woman Blk shirt lg' 'Red Side Bow Mini Skirt' 'Mustard top'
 'Women to women mug' 'Green sheer dress' 'Green dress'
 'Inspired Fashion Gift Card' 'Smooch Acrylic Dangles -Earrings'
 'Bag Sale' 'Yellow bracelet' 'Woman to Woman mixer' 'Fascinator'
 'Blue Petal Earrings' 'Mustard shirt' 'Pearl necklace' 'Burgundy dress'
 'Short set' 'Flower belt' 'RnJ Necklace' 'Girl Hero Graphic T-Shirt'
 'Butterfly braclet' 'Two piece beach set' 'Prada jacket' 'Bag sale'
 'R&j Jewlery' 'Braclet' 'Pleated Tiered Maxi Skirt'
 'BARBIE PRINCESS High Low Tulle Dress' 'Gold necklace with ring'
 'Romper brown' 'Printed Notched Long Sleeve Mini Dress (ONLINE ONLY)'
 'Layaway payment' 'Red skirt' 'Necklace and Earring set'
 'Green bell dress' 'Accessories' 'Earrings' 'Short Set - Cream Curvy'
 'Mustard Top' 'Pink and Green Earrings' 'Denim jacket' 'Red jumpsuit'
 'Puffy sleeve shirt' 'Ring' 'Girl hero' 'Brown/tan shorts and shirt set'
 'RnJ turtle necklace set' 'Engraved compact mirror' '4 pieces for $80'
 'Red Satin Earrings' 'Catching Looks Pant Suit'
 'A Colorful Jumpsuit Curvy' 'Black studded ring' 'Black skirt'
 'Silk Suit Shorts' 'Jacket' 'Cream romper' 'White Wide Leg Pants'
 'Graphic Bell Sleeve Shirt' 'Zebra Stripped Pant Set' 'Plum Silk Shirt'
 'Plum Silk Pants' 'Silk Blazer Jacket' 'Graphic printed shirt'
 'Joggers maroon' 'R&j jewlery set' 'Pearls' 'Halter High Low Dress Curvy'
 'Red dress' 'Zebra Stripped Pant Set Curvy'
 'Bead Decor Tassel Drop Earrings' '4 for $80' '2 piece set'
 'Green romper one shoulder' 'Earrings clip ons' 'Kamala T shirt'
 'Final lay away payment' 'R&J jewlery']
Unique values for Variant: [nan 'Large' '2XL' 'XL' 'Small' 'Large / Black' 'Medium' 'Charms Ring'
 '3XL' 'L / BLACK' 'Medium / Hunter Green' 'M / BLACK' 'M' 'small' 'large'
 '1XL' 'medium' 'Pink' 'M / Red' 'CREAM / SMALL' 'M / Off White'
 'Small / Cream' 'S / Off White' 'LIGHT BLUE / L' 'L / Off White'
 'CREAM / LARGE' 'Small / Black' '$75.00 ' 'Medium / R' 'Large / R' 'Navy'
 'Rose Pink / M' 'Oatmeal / Large' 'Green / L' 'S / Red'
 '1X / Plus Size / GREEN PINK' 'M / GREEN NAVY / Contemporary' 'XXXL'
 'Red']
Unique values for Variant SKU: [nan 'FM78' 'FM79' 'FM77' 'SJA100' 'Rings' '41' 'CAD4250' '18' '80' '5'
 '60' 'SP330' 'SJM200' 'SP650' 'BB100' 'P500' 'SD2000' 'SB100' 'SKS100'
 'J11' '119' '2' '82' '7' '1770' '3' 'J15' 'SS100' 'C600' 'SD300' 'JUMP1'
 'SR900' 'SD1500' 'BOD1' 'P600' 'SHM100' 'SS500' 'ST600' '70881' '42' '1'
 '475' '7363' 'RAD2' 'JB1' 'C100' '10' '70040' '653' 'D650' '1.00101E+14'
 'CR111' 'CT121' 'PR364' 'IP8253-P' 'SK100' 'PP100' 'IT13161' 'S345'
 'S100' 'P100' 'JA100' 'CD333' 'SC345']